.inputWrapper {
  position: relative;
}

.inputWrapper input {
  border: var(--input-bd);
  border-radius: var(--input-bd-radius);
  padding: 10px;
  padding-inline-end: 35px;
  outline: none;
  color: var(--text);
  font-size: var(--font-size-base);
  background-color: transparent;
  inline-size: 100%;
}

.inputWrapper label {
  position: absolute;
  top: 50%;
  left: 12px;
  padding: 0 5px;
  color: var(--input-placeholder-color);
  font-size: var(--font-size-base);
  background-color: var(--bg);
  transition: var(--transition-duration);
  transform: translateY(-50%);
  pointer-events: none;
}

.inputWrapper input:focus + label,
.inputWrapper input:not(:placeholder-shown) + label {
  top: 0;
  color: var(--input--accent-label-color);
  font-size: var(--font-size-xs);
  transform: translateY(-50%);
}

.clearButton {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
}

.error {
  position: absolute;
  bottom: -20px;
  left: 10px;
  color: red;
  font-size: 10px;
}

.inputWrapper input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px var(--bg) inset !important;
  -webkit-text-fill-color: var(--text);
}
