.header {
  display: flex;
  flex: 0 0;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow-mid);
  background-color: var(--header-bg-color);
  inline-size: 100%;
  min-block-size: 100px;
  transition: var(--bg-transition);  
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;  
  inline-size: 100%;
  max-inline-size: calc(var(--layout-max-width) + 2 * var(--space-24));
  padding-inline: var(--space-24);
}

/* .right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  inline-size: 356px;
} */
