@import "./variables.css";

@font-face {
  font-family: "Inter";
  src: url("/src/assets/fonts/inter/Inter-VariableFont_opsz,wght.ttf")
    format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/src/assets/fonts/inter/Inter-Italic-VariableFont_opsz,wght.ttf")
    format("truetype-variations");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

body {
  color: var(--text);
  font-family: var(--font-family-main);
  font-weight: var(--fw-regular);
  font-size: var(--font-size-base);
  background-color: var(--bg);
  background-color: var(--bg);
  min-block-size: 100vh;
}

ul,
ol {
  list-style: none;
}

img,
picture {
  display: block;
  max-width: 100%;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

input,
button,
textarea,
select {
  font: inherit;
}
