:root {
  /* === Основные цвета темы === */
  --bg: var(--color-gray-100);
  --text: var(--color-black);
  --text-secondary: var(--color-gray-700);
  --text-muted: var(--color-gray-500);

  /* === Brand colors === */
  --brand-color: var(--color-green-900);
  --primary-color: var(--color-yellow-600);
  /* --primary-hover: ;
  --danger: ;
  --danger-hover: ;
  --success: ; */

  /* Colors */
  --color-black: #000000;
  --color-white: #f3f3f3;
  --color-gray-900: #191919;
  --color-gray-800: #322d2d;
  --color-gray-700: #362e2c;
  --color-gray-600: #484948;
  --color-gray-500: #a5a5a5;
  --color-gray-200: #d9d9d9;
  --color-gray-100: #f3f3f3;
  --color-green-900: #1d472f;
  --color-green-100: #d8e0dc;
  --color-yellow-700: #fcb241;
  --color-yellow-600: #ffbe5a;

  /* === Fonts === */
  --font-family-main: Inter, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;

  --font-size-base: var(--font-size-s);
  --font-size-s: 14px;
  --font-size-m: 18px;
  --font-size-l: 20px;
  --font-size-xl: 36px;

  --line-height-s: 1.3;
  --line-height-base: 1.4;
  --line-height-l: 1.45;
  --line-height-xl: 1.1;

  /* === Spacing === */
  --space-16: 16px;
  --space-20: 20px;
  --space-24: 24px;
  --space-32: 32px;
  --space-40: 40px;
  --space-48: 48px;
  --space-64: 64px;

  /* === Radius === */
  --radius-s: 15px;
  --radius-m: 30px;
  --radius-l: 60px;
  --radius-xl: 370px;

  /* === Shadow === */
  --shadow-soft: -6px 10px 11px -3px rgba(150, 150, 150, 0.21),
    6px 10px 11px 0 rgba(150, 150, 150, 0.25);
  --shadow-mid: -6px 10px 12px -3px rgba(0, 0, 0, 0.21);
  --shadow-strong: 0 5px 11px 0 rgba(0, 0, 0, 0.25);
  --shadow-inset: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);

  /* === Transition === */
  --bg-transition: background-color 0.5s ease;
  --color-transition: color 0.5s ease;

  /* === Layout === */
  --layout-max-width: 1160px;
  --layout-page-padding-y: var(--space-48);
  --layout-page-padding-x: var(--space-40);
  --layout-content-gap: var(--space-40);
  --form-field-gap: var(--space-20);
  --form-action-gap: var(--space-32);

  /* === Header === */
  --header-bg-color: var(--brand-color);
  --toggle-bg-color: var(--color-gray-200);
  --avatar-color: var(--color-gray-700);
  --avatar-bg-color: var(--color-gray-200);
}

[data-theme="dark"] {
  --bg: var(--color-gray-900);
  --text: var(--color-white);
  --header-bg-color: transparent;
  --toggle-bg-color: var(--color-gray-600);
  --avatar-color: var(--color-white);
  --avatar-bg-color: var(--color-green-100);
}
