.app {
  position: relative;
  z-index: 0; 
  background-color: var(--bg);
  transition: var(--bg-transition), var( --color-transition);
  min-block-size: 100vh;
}

.app::before {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0.5;
  background-image: url("../shared/assets/background/texture.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  pointer-events: none;
  mix-blend-mode: soft-light;
}
