.app {
  position: relative;
  z-index: 0;
  min-height: 100vh;
  color: var(--text);
  font-family: var(--font-family-main);
  font-weight: var(--fw-regular);
  font-size: var(--font-size-s);
  background-color: var(--bg);
  transition: var(--bg-transition), var( --color-transition);
}

.app::before {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0.5;
  background-image: url("../shared/assets/background/texture.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  pointer-events: none;
  mix-blend-mode: soft-light;
}
